body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: #2f4f4f;
  margin: 0;
}

#main {
  max-width: 80%;
  margin: auto;
}
/* User Story #8: image is responsive relative to parent element */
.page-header{
  background-color: #4d4d4d;
  color: #fff;
  text-align: center;
}

#title {
  padding-top: 2%;
}
#subtitle-group {
  max-width: 90%;
  margin: auto;
}
.subtitle {
/*  font-weight: lighter; */
  font-size: 1.5rem;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
}
/* User Story #9: The img element should be centered within its parent element */
#headline {
  text-align: center;
  margin: auto;
  line-height: 2;
}

#tribute-link {
  color: black;
  margin: auto;
  text-align: center;
}

.blockquote {
  padding: 0;
  border: 0;;
}

.blockquote {
  max-width: 90%;
  margin: 5% auto;
  background-color: #e4e4e4;
}

.mb-0 {
  margin: 2%;
}

.blockquote-footnote {
  margin-bottom: 2%;
}
.mb-0 {
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: lighter;
  color: #000000;
  padding: .05rem;
}


.mb-0:first-child:first-letter {
color: #800000;
font-size: 4.2rem;
font-weight: bold;
float: left;
margin: 1.2rem .3rem 0 0;
line-height: 1.2rem;
}

@media (max-width: 460px) {
  .subtitle {
    font-size: 1rem;
    padding: 0px;
  }

}
